# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

#google json
/backend/google-credentials.json

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
# Ignore Obsidian system files
.obsidian/

# Ignore Excalidraw file (if you don't want to track your drawings)
notes.excalidraw

# Ignore local DB or environment-related folders
.infio_json_db/
.smtcmp_json_db/
.smart-env/
notes/
.anima
.gitignore
.vscode/
/settings.json
.vscode/settings.json